/build/CMakeFiles
/build/components
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Makefile

# python-venv directories and files
scripts/env/bin/
scripts/env/lib/
scripts/env/lib64/
scripts/env/lib64
scripts/env/include/
