/build/CMakeFiles
/build/components
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Makefile

# python-venv directories and files
/tools/scripts/env/bin/
/tools/scripts/env/lib/
/tools/scripts/env/lib64/
/tools/scripts/env/lib64
/tools/scripts/env/include/

# vs-code files to ignore
.vscode/settings.json
